/*Removes the banner on full width*/
.page-template-full-width{
	.announcements-banner{
		display: none;
	}
}

.full-width-page{
    margin:25px auto 20px;
	&.child-page{
		.content-area{
			padding:25px 0 40px;
		    max-width: 1200px;
		    width: 100%;
			margin: auto;
			padding: 0 20px;
		}
	}
	.page-header{
		.image{
		   	width: 100%; 
		    height: 100%; 
		    position: relative; 
		    z-index: -1;
		    img{
		    	max-height: 400px;
		    	object-fit: cover;
		    }

		}
		h1{
	    	font-size: 50px;
	    }
	}
	.page-content{
		.col-2{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-top:20px;
			flex-basis: 100%;
				@media screen and (min-width: $medium) {
					padding-top:0;
					flex-direction: row;			   
				}
			.left-col{
				flex-basis: 100%;
				@media screen and (min-width: $medium) {
					flex-basis: 66.6%;	
					padding-right:30px;   
				}
			}
			.right-col{
				padding: 20px;
				background: #f6f6f6;
				flex-basis: 100%;
				@media screen and (min-width: $medium) {
					flex-basis: 33.3%;	   
				}
				/*Orange button is one off color so wanted to note where to turn it off!*/
				input[type=submit] {
				    border: 1px solid #d77900;
				    background-color: #d77900;
				    color: #fff;
				    &:hover{
				    	background-color: #fff;
				    	color:#d77900;
				    }
				}

			}
			.ginput_container{
				display: flex;
				input{
					width:100%;
				}
			}
		}
	}
	
}